<!DOCTYPE html>
{% block body %}
<html lang="en">
<head>
  <title>TIFR Hyderabad Shuttle Timings</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/bootstrap.min.css">
  <script src="static/jquery.min.js"></script>
  <script src="static/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
  <h2>To Indus Crest in {{ time_left_indus }} minutes</h2>
  <p>The next shuttle is at <b>{{ shuttle_time_indus }}</b> </p>            
  <table class="table table-condensed table-border table-hover">
    <thead>
      <tr>
        <th>Vehicle</th>
        <th>Capacity</th>
        <th>Driver</th>
      </tr>
    </thead>
    <tbody>
      {% for shuttle in shuttles_indus %}  
      <tr>
        <td>{{ shuttle[0] }}</td>
        <td>{{ shuttle[1] }}</td>
        <td>{{ shuttle[2] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>To Aparna in {{ time_left_aparna }} minutes</h2>
  <p>The next shuttle is at <b>{{ shuttle_time_aparna }}</b> </p>            
  <table class="table table-condensed table-border table-hover">
    <thead>
      <tr>
        <th>Vehicle</th>
        <th>Capacity</th>
        <th>Driver</th>
      </tr>
    </thead>
    <tbody>
      {% for shuttle in shuttles_aparna %}  
      <tr>
        <td>{{ shuttle[0] }}</td>
        <td>{{ shuttle[1] }}</td>
        <td>{{ shuttle[2] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <hr>
  <p>{{ fortune }}</p>
</div>

<div class="footer navbar-fixed-bottom">
<p>Shuttle timings last updated on: <b>{{ last_update }}</b></p>
<p>To report any issues, request changes or additional functionality, go here:  <a href="https://github.com/pskeshu/tifrh-shuttle/issues" target="_blank">https://github.com/pskeshu/tifrh-shuttle/issues</a></p>
</div>
</body>
</html>

{% endblock %}
