<!DOCTYPE html>
{% block body %}
<html lang="en">
<head>
  <title>TIFR Hyderabad Shuttle Timings</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
</head>
<body>

<div class="container-fluid">
  <h2>To Indus Crest in {{ fretb_indus_info["minutes"] }} minutes</h2>
  <p>The next shuttle is at <b>{{ fretb_indus_info["shuttle_time"] }}</b> </p>            
  <table class="table table-condensed table-border table-hover">
    <thead>
      <tr>
        <th>Vehicle</th>
        <th>Capacity</th>
        <th>Driver</th>
      </tr>
    </thead>
    <tbody>
      {% for shuttle in fretb_indus_info["shuttles"] %}  
      <tr>
        <td>{{ shuttle[0] }}</td>
        <td>{{ shuttle[1] }}</td>
        <td>{{ shuttle[2] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>To Aparna in {{ fretb_aparna_info["minutes"] }} minutes</h2>
  <p>The next shuttle is at <b>{{ fretb_aparna_info["shuttle_time"] }}</b> </p>            
  <table class="table table-condensed table-border table-hover">
    <thead>
      <tr>
        <th>Vehicle</th>
        <th>Capacity</th>
        <th>Driver</th>
      </tr>
    </thead>
    <tbody>
      {% for shuttle in fretb_aparna_info["shuttles"] %}  
      <tr>
        <td>{{ shuttle[0] }}</td>
        <td>{{ shuttle[1] }}</td>
        <td>{{ shuttle[2] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <hr>
  <p>{{ fortune }}</p>
</div>

<div class="container-fluid navbar navbar-default navbar-static-bottom">
    <span style="float:left;">Shuttle timings last updated on: <b>{{ last_update }}</b></span>
    <span style="float:right">To report any issues, request changes or additional functionality, go here:  <a href="https://github.com/pskeshu/tifrh-shuttle/issues" target="_blank">https://github.com/pskeshu/tifrh-shuttle/issues</a></span>
</div>
</body>
</html>

{% endblock %}
